    - name: Install Nginx (Debian/Ubuntu)
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: yes
      when: ansible_os_family == 'Debian'

    - name: Install Nginx (RedHat/RHEL/CentOS/Fedora)
      ansible.builtin.dnf:
        name: nginx
        state: present
      when: ansible_os_family == 'RedHat'

    - name: Start and enable Nginx service
      ansible.builtin.service:
        name: nginx
        state: {{ nginx_service_state | default('started') }}
        enabled: {{ nginx_service_enabled | default('yes') }}
