[defaults]
inventory = inventory.ini
remote_tmp = /tmp/.ansible-${USER}
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -F /dev/null -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=/home/ec2-user/.ssh/known_hosts
